* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.contPrin {
    margin-left: 4rem;

}

header {
    padding-top: 2rem;
    display: flex;
    justify-content: center;

}

h1 {
    font-size: large;
}

h2 {

    font-size: larger;
    
}

.sugerencia {
    padding: 0.5rem;
    background-color: whitesmoke;
    border: 1px black solid;
    border-radius: 2%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.pSugerencia {
    text-decoration: underline;
}

.fijoSugerido, .ahorroSugerido > *{
    background-color:#6099FF ;
    color: #4C4C4C;
    border-radius: 5%;
    padding-left: 5px;
    padding-right: 5px;

}


.prescindibleSugerido, .ahorroSugerido > *{
    background-color:#FFC94B ;
    color: #4C4C4C;
    border-radius: 5%;
    padding-left: 5px;
    padding-right: 5px;

}

.ahorroSugerido, .ahorroSugerido > *{
    background-color:#008D84 ;
    color: #4C4C4C;
    border-radius: 5%;
    padding-right: 5px;
    padding-left: 5px;

}

.nuevosIngresos {
    display: grid;
    grid-template-areas:
    "ingresos grafico info";
    min-width: 100%;
}


.inputGastos{
    grid-area: ingresos;
}




.imgPrin{
    grid-area: imgPrin;


}





.nuevoGasto {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    background-color: whitesmoke;
    border: 1px black solid;
    border-radius: 2%;
}


.gastos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: grafico;
}

.concepto {
    padding-left: 0.7rem !important;

}

.grafico {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-end;
    margin-bottom: 0.5rem;

}





.btn {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}



/* semaforo */


.semaforo {
    width: 67px;
    height: 129px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.692);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    gap: 0.2rem;
}

.luzVerde,
.luzAmarillo,
.luzRojo {
    background-color: green;
    width: 47px;
    height: 47px;
    border: 2px solid white;
    border-radius: 50%;


}


.RadialProgress{
    --hue: 212;
    --holesize: 58%;
    --track-bg: hsla(240, 100%, 100%, 0.192);
    height: 10vmin;
    height: 10vmin;
    width: 10vmin;
    min-width: 100px;
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    font-weight: 700;
    font-size: max(2vmin, 1.4rem);
    color: black;
    border-radius: 50%;
    background: conic-gradient(hsl(var(--hue) 100% 70%),
            hsl(var(--hue) 100% 40%),
            hsl(var(--hue) 100% 70%) var(--progress, 0%),
            var(--track-bg) var(--progress, 0%) 100%);
}



.RadialProgress1{

    --hue: 43;
    --holesize: 58%;
    --track-bg: hsla(240, 100%, 100%, 0.192);
    height: 10vmin;
    height: 10vmin;
    width: 10vmin;
    min-width: 100px;
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    font-weight: 700;
    font-size: max(2vmin, 1.4rem);
    color: black;
    border-radius: 50%;
    /* z-index: 1; */
    background: conic-gradient(hsl(var(--hue) 100% 70%),
            hsl(var(--hue) 100% 40%),
            hsl(var(--hue) 100% 70%) var(--progress, 0%),
            var(--track-bg) var(--progress, 0%) 100%);
}


.RadialProgress2 {
    --hue: 148;
    --holesize: 58%;
    --track-bg: hsla(240, 100%, 100%, 0.192);
    height: 10vmin;
    height: 10vmin;
    width: 10vmin;
    min-width: 100px;
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    font-weight: 700;
    font-size: max(2vmin, 1.4rem);
    color: black;
    border-radius: 50%;
    background: conic-gradient(hsl(var(--hue) 100% 70%),
            hsl(var(--hue) 100% 30%),
            hsl(var(--hue) 100% 70%) var(--progress, 0%),
            var(--track-bg) var(--progress, 0%) 100%);
}




.divInformativo {
    background-color: whitesmoke;
    border: 1px black solid;
    border-radius: 2%;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    max-width: 500px;
    max-height: 800px;
    grid-area: info;
    padding: 5px;
    
}


.contTituloInfo{
    background-color: #FFC94B;
    position:sticky;
    top: 0;
    height: 60px;
    padding: 0.5rem;
    border-radius: 3%;


}
.tituloInfo {
    text-align: center;

}


.divInformativo p {
    margin-top: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}